<a href="https://colab.research.google.com/github/19PA1A0541/pythonbasics/blob/master/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

WHAT DO YOU MEAN BY BIAS AND VARIANCE?

                    BIAS 
Bias:Bias is the accuracy of our predictions.
A bias means the prediction will be inaccurate. Intuitively, bias can be thought as having a ‘bias’ towards people.
                   VARIANCE
variance is an error from sensitivity to small fluctuations in the training set.


DIFFERENCES BETWEEN TRAIN_TEST_SPLIT AND CROSS VALIDATION?

TRAIN_TEST_SPLITTING:
If we train our model on one dataset ( training dataset ) and test the performance of our model in another dataset ( testing dataset ) then the measure of performance using test dataset is known as testing accuracy. 
This is a better estimate than training accuracy.

CROSS VALIDATION:
In this process, we split the dataset into K-equal partitions or folds. Then use one of the fold as the testing set and union of remaining sets as training set. Then we calculate the testing accuracy of our model. We repeat the process of choosing train and test from different folds, and calculating training error K-times(number of folds). 
Then we use average training accuracy as the estimate.

In [0]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [3]:
students=pd.read_csv("students_placement_data.csv")
students.head()

   Roll No Gender  ... registered_for_ Placement_Training  placement status
0        1      M  ...                                 NO        Not placed
1        2      F  ...                                yes            Placed
2        3      F  ...                                yes        Not placed
3        4      M  ...                                yes        Not placed
4        5      M  ...                                yes        Not placed

[5 rows x 9 columns]

In [4]:
X = wine[['SSC Percentage','inter_Diploma_percentage']].values

y = wine['B.Tech_percentage'].values

NameError: ignored